<header class="head">
    <nav>
        <ul class="nav nav-tabs hi justify-content-between">
            <li class="nav nav-item">
                <a class="nav-link active hi" routerLink="/">Home</a>
            </li>
            <li class="nav nav-item">
                <a class="nav-link active hi" routerLink="/login">Library</a>
            </li>
            <li *ngIf="vis" class="nav nav-item">
                <a class="nav-link active hi" routerLink="/books">Books </a>
            </li>
            <!-- <li *ngIf="vis"  class="nav nav-item "><a class="nav-link active hi" routerLink = "/landingpage" (click)="logout()">Logout</a></li> -->
        </ul>
    </nav>

    <div class="user" *ngIf="CurrentUser.length > 0">
        <div class="hi">
            <span class="rounded-circle bg-light p-2 text-dark user-img">{{ CurrentUser | getF | uppercase}}</span> {{CurrentUser | titlecase}}
            <!-- <i class="fa-duotone fa-circle user-img"></i>{{ CurrentUser | slice:0:1 | uppercase}}    -->
            <div class="card">
                <button (click)="logout()" class="btn btn-dark">Logout</button>
            </div>
        </div>
    </div>
</header>