@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap");
.nav-tabs {
    font-family: "Inter";
}

nav {
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
}

.hi {
    border: 1px solid blue;
    border: none !important;
}

.user {
    color: whitesmoke;
}

.navbar-text {
    font-family: "Inter";
    margin-right: 30px;
    color: rgb(0, 0, 0);
}

.head {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 3, 20);
}

.nav-tabs .nav-link.active {
    color: whitesmoke;
    background-color: rgb(1, 3, 20);
    border-color: black;
}

.user {
    font-family: "Inter";
    padding: 10px;
    font-size: 18px;
    margin-right: 40px;
}

.h {
    display: none;
}

.fa-user {
    font-size: 10px;
}

.user-img {
    height: 20px;
    width: 20px;
}

.card {
    font-size: 15px;
    display: none;
    position: absolute;
    z-index: +1;
}

.card:hover {
    display: block;
    cursor: pointer;
}

.user-img:hover~.card {
    display: block;
}

.user-img:hover {
    cursor: pointer;
}