html {
    scroll-behavior: smooth;
}

table,
th,
tr {
    width: 60%;
    text-align: center;
    border: 5px solid white;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Inter';
}

th,
td {
    background-color: #f5ffff;
    padding: 10px;
}

td {
    font-size: 18px;
}

.tableDisplay {
    display: flex;
    /* width: 800px; */
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.issue {
    margin-top: 6px;
}

.welcome {
    font-family: 'SF pro display';
}

.btn {
    font-family: 'Inter';
}

.form-group {
    font-family: 'Inter';
    margin-left: 4px;
}

.form-control {
    width: 300px;
    font-family: Inter;
}

.forms {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.tp {
    position: relative;
    width: max-content;
    left: 150px;
    opacity: 0.6;
}

.tp::before,
.tp::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: black;
}

.tp::before {
    left: -200%;
    top: 50%;
}

.tp::after {
    right: -200%;
    top: 50%;
}

.issuedBook {
    font-family: 'Inter';
}

.btn-success {
    --bs-btn-bg: #b0ffda;
    --bs-btn-color: black;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: rgb(0, 0, 0);
}

.submit {
    margin-top: 6px;
}

.forms {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 1px;
    height: 100px;
    background-color: black;
    filter: opacity(0.5);
    margin-right: 300px;
}

.none {
    display: none;
}

.hi {
    padding-right: 300px;
}

.cancel {
    margin-left: 3px;
    margin-top: 5px;
}