@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap");
.head {
    height: 7vh;
}

.nav-item {
    font-size: 18px;
    font-family: "Inter";
    padding: 2px;
}

.nav {
    font-size: 15px;
    border: none;
}

body {
    background-color: black;
}