<div class="mainContainer">
  <div class="back">
    <button class="btn btn-transparent" (click)="backBtn()">
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    </button>
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ id | uppercase }}</th>
          <th scope="col">{{ books | uppercase }}</th>
          <th scope="col">{{ author | uppercase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.Book }}</td>
          <td>{{ book.Author }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <h3 id="description">Description</h3>
    {{ book.Summary }}
  </div>
</div>
